{{ define "main" }}
{{ $page := . }}
<main class="main" role="main">


  <style type="text/css">
    .shake {
      background: #000 url("/banner.jpg") center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .hero .herobutton {
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }  
  </style>

  <section class="hero shake is-halfheight has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 has-text-white">Superphysics</h1>
        <h2 class="subtitle is-3 has-text-light">{{ .Params.heading }}</h2>

        <div class="columns is-mobile my-5">
          <div class="column is-hidden-mobile is-2-desktop">
          </div>
          <div class="column is-12-touch is-8-desktop">
            <div class="has-text-centered label">
              <figure class="image is-16by9">
                <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/{{ if .Params.youtube }} {{ .Params.youtube }} {{ else }}Fw2Al67xPW4{{ end }}" frameborder="0" allowfullscreen></iframe>
              </figure>
            </div>
          </div>          
          <div class="column is-hidden-mobile is-2-desktop">
          </div>
        </div>

        <h3 class="title is-3 has-text-light has-text-centered">
          {{ .Params.sub }}
        </h3>

        <div class="columns is-mobile is-multiline my-5">  
          {{ range .Params.tricon1 }}
            <div class="column is-12-touch is-4-desktop p-4 has-text-centered">
              <figure class="is-inline-block">      
                <img src="{{ .icon }}" style="width: 100px;" class="" alt="MetaPhysics" data-sal="slide-up">
              </figure>
              <p class="title is-2 has-text-white">{{ .title }}</p>
              <p class="subtitle is-4 has-text-white">{{ .subtitle }}</p>
            </div>
          {{ end }}
        </div>

      </div>
    </div>
  </section>    


  <section class="hero has-text-centered py-6 section container">
    <div class="h has-text-white">{{ .Params.mini1 }}</div> 
    <h2 class="title has-text-white is-2">{{ .Params.heading1 }}</h2>
    <h3 class="subtitle is-3" style="color: silver">{{ .Params.sub1 }}</h3>
    <figure class="is-inline-block">
      <a href="/superphysics">
        <img src="/icons/sp.png" style="width: 100px;" class="" alt="">
      </a>
    </figure>    
<!--     <figure class="is-inline-block">      
      <img src="/icons/sp.png" style="width: 100px;" class="" alt="">
    </figure> -->
    <div class="columns is-multiline is-mobile">
      {{ range .Params.triconsup }}      
        <div class="column is-12-touch is-4-desktop my-5">
          <a href="{{ .url }}">
            <div class="card zoom-xs has-background-dark has-text-centered card-equal-height p-4" data-sal="slide-up">
              {{ .icon |  safeHTML }}                 
              <p class="title has-text-white is-4 mt-4">{{ .title }}</p>
              <p class="subtitle is-5" style="color: silver">{{ .subtitle }}</p>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </section>


  <div class="columns is-multiline is-mobile">
    {{ range .Params.artsup }}    
    <div class="column is-6-desktop is-12-touch embed-responsive zoom-xs" data-sal="zoom-in">
      <a href="{{ .url }}">
        <img src="{{ .img }}" alt="" >
        <p class="embed-responsive-item title is-1 p-6 mb-6 has-text-white" >{{ .title }}</p>
        <p class="subtitle is-3 px-6 has-text-light has-background-black" style="position: absolute; bottom: 1px !important">{{ .subtitle }}</p>
      </a>
    </div>
    {{ end }}
  </div>


  <br>

  <section class="hero has-text-centered py-6 section container">
    <div class="h has-text-white">{{ .Params.mini2 }}</div> 
    <h2 class="title has-text-white is-2">{{ .Params.heading2 }}</h2>
    <h3 class="subtitle is-3" style="color: silver">{{ .Params.sub2 }}</h3>

    <a href="/material">
      <figure class="is-inline-block">      
        <img src="/icons/spmat.png" style="width: 100px;" class="" alt="">
      </figure>
    </a>    
<!--     <figure class="is-inline-block">      
      <img src="/icons/sp.png" style="width: 100px;" class="" alt="">
    </figure> -->
    <div class="columns is-multiline is-mobile">
      {{ range .Params.triconmat }}     
        <div class="column is-12-touch is-4-desktop my-5">
          <a href="{{ .url }}">
            <div class="card zoom-xs has-background-dark has-text-centered card-equal-height p-4" data-sal="slide-up">
              {{ .icon |  safeHTML }}                 
              <p class="title has-text-white is-4 mt-4">{{ .title }}</p>
              <p class="subtitle is-5" style="color: silver">{{ .subtitle }}</p>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </section>


  <div class="columns is-multiline is-mobile">
    {{ range .Params.artmat }} 
    <div class="column is-6-desktop is-12-touch embed-responsive zoom-xs" data-sal="zoom-in">
      <a href="{{ .url }}">
        <img src="{{ .img }}" alt="">
        <p class="embed-responsive-item title is-1 p-6 mb-6 has-text-white" >{{ .title }}</p>
        <p class="subtitle is-3 px-6 has-text-light has-background-black" style="position: absolute; bottom: 1px !important">{{ .subtitle }}</p>
      </a>
    </div>
    {{ end }}
  </div>

  <br>
  <section class="hero has-text-centered py-6 section container">
    <div class="h has-text-white">{{ .Params.mini3 }}</div> 
    <h2 class="title has-text-white is-2">{{ .Params.heading3 }}</h2>
    <h3 class="subtitle is-3" style="color: silver">{{ .Params.sub3 }}</h3>
    <div class="has-text-centered">
      <a href="/medical">      
        <figure class="is-inline-block">      
          <img src="/icons/spmed.png" style="width: 100px;" class="" alt=" .title }}">
        </figure>
      </a>
    </div>
    <div class="columns is-multiline is-mobile">
      {{ range .Params.triconmed }}     
        <div class="column is-12-touch is-4-desktop my-5" data-sal="slide-up">
          <a href="{{ .url }}">
            <div class="card zoom-xs has-background-dark has-text-centered card-equal-height p-4">
              {{ .icon |  safeHTML }}                 
              <p class="title has-text-white is-4 mt-4">{{ .title }}</p>
              <p class="subtitle is-5" style="color: silver">{{ .subtitle }}</p>
            </div>
          </a>
        </div>
      {{ end }}
      </div>            
    </div>
  </section>

  <div class="columns is-multiline is-mobile">
    {{ range .Params.artmed }}    
    <div class="column is-6-desktop is-12-touch embed-responsive zoom-xs" data-sal="zoom-in">
      <a href="{{ .url }}">
        <img src="{{ .img }}" alt="" >
        <p class="embed-responsive-item title is-1 p-6 mb-6 has-text-white" >{{ .title }}</p>
        <p class="subtitle is-3 px-6 has-text-light has-background-black" style="position: absolute; bottom: 1px !important">{{ .subtitle }}</p>
      </a>
    </div>
    {{ end }}
  </div>



  <br>
  <section class="hero has-text-centered py-6 section container">
    <div class="h has-text-white">{{ .Params.mini4 }}</div> 
    <h2 class="title has-text-white is-2">{{ .Params.heading4 }}</h2>
    <h3 class="subtitle is-3" style="color: silver">{{ .Params.sub4 }}</h3>
  
    <div class="has-text-centered">
      <a href="/social">      
        <figure class="is-inline-block">      
          <img src="/icons/spsoc.png" style="width: 100px;" class="" alt=" .title }}">
        </figure>
      </a>
    </div>
    <div class="columns is-multiline is-mobile">
      {{ range .Params.triconsoc }}     
        <div class="column is-12-touch is-4-desktop my-5">
          <a href="{{ .url }}">
            <div class="card zoom-xs has-background-dark has-text-centered card-equal-height p-4">
              {{ .icon |  safeHTML }}
              <p class="title is-4 mt-4 has-text-white">{{ .title }}</p>
              <p class="subtitle is-5" style="color: silver">{{ .subtitle }}</p>
            </div>
          </a>
        </div>
      {{ end }}

    </div>            
  </section>
    
  <div class="columns is-multiline is-mobile">
    {{ range .Params.artsoc }}    
    <div class="column is-6-desktop is-12-touch embed-responsive zoom-xs">
      <a href="{{ .url }}">
        <img src="{{ .img }}" alt="" >
        <p class="embed-responsive-item title is-1 p-6 mb-6 has-text-white" >{{ .title }}</p>
        <p class="subtitle is-3 px-6 has-text-light has-background-black" style="position: absolute; bottom: 1px !important">{{ .subtitle }}</p>
      </a>
    </div>
    {{ end }}
  </div>


</main>
{{ end }}
